
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This allows any user, authenticated or not, to read and write to
    // any part of your database. This is useful for development but should be
    // secured before launching to production.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
